<% stylesheet "dashboard" %>
<div class="subheader">
    <div class="left">
        <div class="h3">
            Discover Ideas
        </div>
        <div class="sub">
            See your co-workers ideas. Help them make it real.
        </div>
    </div>
    <div class="right">
        <%= link_to "New Idea", new_idea_path() , :class=>"large green awesome" %>
    </div>
</div>
<div class="content">
    <h3>Most popular</h3>

    <% @ideas.each do |idea| %>
        <%= render :partial=>"shared/idea.html.erb", :locals=>{:idea=>idea} %>
    <% end %>
</div>