body{
	font-family: Helvetica;
}


input, textarea{
	width: 100%;
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
	border: 1px silver solid;
	font-family: Helvetica;
	font-size: 20px;
	padding:5px;
	margin-bottom:20px;
}

input{
	height: 30px;
}

textarea{
	height: 70px;
}

h3{
	font-size: 40px;
}

.g-clear, .g-clear-10, .g-clear-20{
	clear:both;
	height:0px;
	overflow:hidden;
	font-size:0px;	

}
.g-clear{
	clear:both;
}
.g-clear-10{
	height: 10px;
}
.g-clear-20{
	height: 20px;
}

.center{
	margin-left: auto;
	margin-right: auto;
	width: 300px;
}
.tc{
	display: table-cell;
}

a, a:visited{
	color: #2d769c;
}
a{
	text-decoration: none;
}


.header2{
	background-color: #2d769c;
	height: 40px;
	width: 100%;
}

.header2 a{
	color: #fff;
	text-decoration: none;
}
.header2 .usermenu{
	width: 400px;
	text-align:right;
	height: 40px;
	padding-top:10px;
}
.header2 .usermenu a{
	margin-left: 15px;
}
.header2 .logo{
	text-align:left;
	font-size: 20pt;
	font-weight: bold;
}

.one_column{
	margin-left: 90px;
	margin-right: 90px;
}

input.button{
	width: auto;
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	margin: 3px;
	text-align: center;
	background-color: #0ccb1a;
}

a.button{
	display: inline-block; 
	padding: 5px 10px 6px; 
	color: #fff; 
	text-decoration: none;
	-moz-border-radius: 3px; 
	-webkit-border-radius: 3px;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
	margin: 3px;
	text-align: center;
	background-color: #0ccb1a;
	width: 230px;
	height: 40px; 
	font-size: 18pt;
	padding-top: 10pt ;
}

.button.small{
	font-size: 12pt;
	height: 20px;
	width: 200px;
}

.big{
	font-size: 40px;
	height: 60px;
}

.idea{
	width: 260px;
	height: 300px;
	border: 1px solid #e0e0e0;
	margin-right: 20px;
	margin-top: 20px;
	padding: 10px;
	background-color: #fff;
	  border-top-left-radius: 3px;
	  border-top-right-radius: 3px;
	  border-bottom-left-radius: 3px;
	  border-bottom-right-radius: 3px;
	float: left;
}
.icons span{
	margin-right: 20px;
}
.idea .icons{
	padding-top: 7px;
	margin-top: 30px;
	border-top: 1px solid #ccc;
}

.idea .title{
	font-weight: bold;
}
.photo{
	width: 125px;
	height: 125px;
	  border-top-left-radius: 66px;
	  border-top-right-radius: 66px;
	  border-bottom-left-radius: 66px;
	  border-bottom-right-radius: 66px;
	border: 6px solid #fff;
  box-shadow:         2px 2px 6px 0px #aaa;
	float: left;
	display: table-cell;
}

.about{
	padding-left: 20px;
	float: left;
	display:table-cell;
}
fullname{
	font-size: 30px;
	font-weight: bold;
}

department{
	display:block;
}

skill{
	float: left;
	display:block-inline;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	background-color: silver;
	border: 1px solid gray;
	padding: 4px;
	margin: 4px;
	color: #fff;

}
.alert, .notice{
	width:100%;
	margin:0px;
	padding:10px;
	background-color: #F6F7DA;
	color: orange;
	text-align: center;
}
.vertical-line{
	display: block;
	clear: both;
	width: 1px;
	height: 100%;
	background-color: #ccc;
	margin-left: 20px;
	margin-right: 20px;
	min-width: 1px;
}
.horizontal-line{
	display: block;
	width: 100%;
	height: 1px;
	min-height: 1px;
	background-color: #ccc;
	margin-top: 10px;
	margin-bottom: 10px;
}