.comments{
	margin-left: 0px;
  margin-top: 20px;
	width: 600px;
}
.comments h3{
	margin: 30px;
}

.comment form{
	width: 400px;

}

.comment{
	padding-top: 20px;
}

.comment_actions{
	font-size: 10pt;
}

.comment_user{
	float:left;
	width: 40px;
	font-size: 10px;
}